body{
    background-color: #ff5353;
}
.logo-div{
     text-align: center; /* Center the content horizontally */
/*     margin-top: 20vh; /* Adjust as needed for spacing */ 
}
/* ############### */
.container {
    color: #fff;
    position: relative;
    width: 50%;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    /* text-align: center; */
  }
  
  .image {
    display: block;
    width: 500px;
    height: 600px;
    /* text-align: center; */
    padding-left: 70px;
    padding-right: 70px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f4b2a7;
    border-radius: 30px;
  }
  
  .container:hover .overlay {
    opacity: 0.95;
  }
  
  .text {
    color: #fff;
    font-size: 20px;
    position: absolute;
   /* text-align: center; */
    top: 30%;
    left: 50%;  
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .itempic {
    height: 160px;
    width: 140px;
  }
  .itempic1 {
    height: 120px;
    width: 100px;
  }
  .item{
    display: inline-block;
    width: 100%;
    left: 10%;
    
  }
  #item1{
    margin-left: 40px;
    text-align: center;
    float: left;
  }
  #item2{
    margin-right: 40px;
    text-align: center;
    float: right;
  } 
/* ############### */
#logo{
    border: 0;
    padding: 0;
    width: 300px;
    height: 150px;
    margin-bottom: 20px; /* Add spacing between logo and navbar */
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    text-align: center;
/*     background-color: #333; */
    margin-top: 20px; /* Adjust the margin to add space between logo and navbar */
}

.navbar ul {
    font-family: sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin: 0 80px;
    
}

.navbar a {
    text-decoration: none;
    color: rgb(247, 243, 221);
    font-weight: bolder;
    font-size: 18px;
}

.slider {
    
    width: 80%; /* Adjust the width as needed */
    margin: 20px auto; /* Adjust margins for spacing */
    overflow: hidden;
    text-align: center;
    
  }
  
  .slide {
    width: 100%;
    display: none;
    
  }
  .icons{
    text-align: center;
    font-size: 30px;
}
.socials{
    margin: 0 50px;
    color: antiquewhite;
}